.br-header {
  position: sticky;
  top: 0;
  z-index: 40;
  background: #FBF5E9;
  backdrop-filter: saturate(180%) blur(8px);
  /* border-bottom: 1px solid #5EABA2; */
  color: #003651;
}

.brand {
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 600; 
  font-size: 1.8rem;      
  letter-spacing: 0.5px;  
  color: #003651;         
  text-decoration: none;
}


.logo-badge {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 2px;
  /* border: 2px solid #003651; */
  background: #FBBE0E;
}

.search {
  flex: 1;
}

.search input {
  width: 100%;
  padding: 10px 12px;
  border: 2px solid #5EABA2;
  border-radius: 30px;
  background: #FBF5E9;
  color: #5EABA2;
}
